.dashboard-2 {
    /* display: flex;
    width: 1152px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 1152px;
    height: 74px; */
    border: 2px solid orangered;
    display: flex;
width: 1152px;
height: 754px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
}

.frame1_d2 {
    border: 2px solid rgb(157, 255, 0);
    width: 1152px;
    height: 214px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.f1 {
    width: 1152px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.f1_text {
    width: 91px;
    height: 28px;
    color: var(--Black-12, #1A181E);
    font-family: Galano Grotesque;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.f1_f_month {
    width: 137px;
    height: 36px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.grp_rect {
    width: 137px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    display: flex;
    flex-direction: row;
}

.grp_text {
    color: var(--Black-30, #4D4D4D);
    font-family: Galano Grotesque;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 87px;
    height: 24px;
}

.grp_dropdown {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}